@model VendasMvcWeb.Models.Seller

@{
    ViewData["Title"] = "Seller Details";
}

<div class="container mt-4">

    <h2>@ViewData["Title"]</h2>
    <hr />

    <div class="card">
        <div class="card-header">
            <h4>Seller Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    <a href="mailto:@Model.Email" class="text-primary">@Model.Email</a>
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BaseSalary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BaseSalary)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Department.Name)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>

</div>